<div class="row mt-5">
    <div class="col-md-4 m-auto">
      <div class="card card-body" style="background-color: beige">
        <h1 class="text-center mb-3"> Login</h1>
        <form #form="ngForm" (ngSubmit)="login(form)">
          <div class="form-group">
            <label for="user">Email</label>
            <input
              type="user"
              name="user"
              #user = "ngModel"
              ngModel
              class="form-control"
              placeholder="Enter user"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              #password = "ngModel"
              ngModel
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </div> 