<div class="toolbar" role="banner">
    <span style="padding: 1%;">Library Management</span>
      <div class="spacer">      
      </div>
      <span  style="padding: 1%;" *ngIf="role=='Admin'">
        <i class="fa fa-cogs" title="Configuration" aria-hidden="true" [routerLink]="'/configuration'">
        </i>
      </span>
      <span style="padding: 1%;">
        <i class="fa fa-book" aria-hidden="true" title="My Library" [routerLink]="'/linkedBooks'">
        </i>
      </span>
      <span style="padding: 1%;">
        {{name | uppercase}}
        <i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"></i>
      </span>    
  </div>
  
  <div class="content" role="main">
    <div class="card-container">
      <input  class="form-control form-control-lg" type="text" (keyup)="search($event.target.value)" placeholder="Search book">
    </div>  
  </div>
  
  
  
  <div class="row" style="padding: 20px;">
    <div class="col-md-4" *ngFor="let card of filterdBooks">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{card.name}}</mat-card-title>
          <mat-card-subtitle>{{card.author}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{card.publisher}}</p>
        </mat-card-content>
        <mat-card-actions>        
          <button mat-raised-button (click)="linkBook(card)">Add to Library</button>        
        </mat-card-actions>
      </mat-card>
      <br><br>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="onChange($event)" [length]="totalBooks" [pageSize]="limit"></mat-paginator>