<div class="container-fluid"><br><br>
  <div class="card">
      <div class="card-header">
          <h3 style="float: left;">Book Configuration</h3>
          <button  type="button" title="Add Process" class="btn btn-outline-success btn-sm" style="float: right;" (click)="openModal(template,'Add',null,null)"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        <div class="card-body">
          <div class="table-responsive ">
          <table class="table table-hover ">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of filterdBooks;let i = index">
                <td scope="row">{{element.name}}</td>
                <td>{{element.author}}</td>
                <td>{{element.publisher}}</td>
                <td>
                  <i title="Edit Process" class="fa fa-edit "(click)="openModal(template, 'Edit',element,i)"></i>&nbsp;&nbsp;&nbsp;
                  <i title="Delete Process" class="fa fa-trash-o" (click)="openModal(template1,'delete',element,i)"></i>                    
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
  </div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="onChange($event)" [length]="totalBooks" [pageSize]="limit"></mat-paginator>

<ng-template class="modal" #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{action}} Users</h4>
    <button type="button" title="Close" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="example-container">
      <form [formGroup]="bookForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="book">Book</label>
            <input type="text" formControlName="name" name="book" 
            class="form-control" id="book" required 
            placeholder="Type book name here">            
          </div>

          <div class="form-group col-md-12">            
              <label for="author">Author Name</label>
              <input type="text"  formControlName="author" name="author" 
              class="form-control" id="author" required
                 placeholder="Type your name here">              
              <div [hidden]="!bookForm.get('author').hasError( 'required')"
                   class="alert alert-danger">author is required
              </div>
              <div [hidden]="!bookForm.get('author').hasError('pattern')"
                   class="alert alert-danger">Only alphabets allowed
              </div>              
          </div>

          <div class="form-group col-md-12">            
            <label for="publisher">Publisher Name</label>
            <input type="text"  formControlName="publisher" name="publisher" 
            class="form-control" id="publisher" required
            placeholder="Type your name here">
            <div [hidden]="!bookForm.get('publisher').hasError( 'required')"
            class="alert alert-danger">publisher is required
            </div>
            <div [hidden]="!bookForm.get('publisher').hasError('pattern')"
                  class="alert alert-danger">Only alphabets allowed
            </div>  
           </div>
           <div class="form-group col-md-12">
             <label for="thumbnail">Thumbnail</label>
             <input (change)="handleFileInput($event.target.files)" class="form-control" accept="image/png,image/jpeg,.pdf" type="file" required>
           </div>

        </div>
        <button class="btn1 btn-primary" [disabled]="!bookForm.valid"
          (click)="saveTo()">{{action == 'Edit' ? 'Update':'Add'}}</button>&nbsp; &nbsp;&nbsp; &nbsp;
        <button class="btn1 btn-danger" (click)="modalRef.hide()">Cancel</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template class="modal" #template1>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Book</h4>
      <button type="button" class="close pull-right" aria-label="Close" title="Delete book" (click)="modalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="modal-body">
      <div class="example-container">
          <form>
              <div>
                  <p> Are You Sure to Delete</p>
              </div>
              <button type="submit" class="btn btn-primary" (click)="delete();modalRef.hide()">Delete</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
          </form>
      </div>
  </div>
</ng-template>