<!-- <div class="toolbar row" role="banner" *ngIf="name" sty>
    <span style="margin-left: 3%;padding: 1%;">Library Management</span>
      <div class="spacer">      
      </div>
      <span style="padding: 1%; float: right;margin-left: 70%; cursor: pointer;" >
        {{name | uppercase}} &nbsp;
        <i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"></i>
      </span>    
  </div> -->


<router-outlet></router-outlet>